<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd ">
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<form-login login-page="/sign-in" default-target-url="/admin"
			authentication-failure-url="/sign-in?error" username-parameter="username"
			password-parameter="password" />
		<logout logout-url="/sign-out" logout-success-url="/sign-in?logout" />
		<!-- enable csrf protection -->
		<csrf />
		<headers defaults-disabled="true">
			<cache-control disabled="true" />
			<frame-options policy="SAMEORIGIN" />
			<hsts disabled="true" />
		</headers>
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="aycaerdem" password="cookingmood" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>